<form action="/content/create" class="new_content admin_form" enctype="multipart/form-data" id="new_content" method="post">
    <input id="content_ctype" name="content[ctype]" size="30" type="hidden" value="<%= params[:ctype] %>" />
  <p> 
    <label for="content_title">Title</label>
    <input id="content_title" name="content[title]" size="30" type="text" />
  </p>
  <p style="display: none;"> 
    <label for="content_slug">Slug</label>
    <input id="content_slug" name="content[slug]" size="30" type="text" />
  </p>
  <p> 
    <label for="content_content_text">Existing Text</label>
    <input id="content_content_text" name="content_text" size="30" type="text" />
    <input id="content_content_text_id" name="content[content][text_id]" type="hidden" />
    or <a id="newtext" href="#newtext">New Text</a>
  </p>

  <!-- i need here: give option to choose existing text, or enter a new one
  but if you choose an existing image, then we have to allow you to add translations to that text
  so we can have a text area to search for an existing text
  if found and selected, pull that in and present a "new transation" option and present fields to add to
  the translations of the text. otherwise do a pop-in where they get to enter new text, save it and return 
  to the page with the option to continue the rest of the form. -->

  <script>
    $("#newtext").colorbox({width: '750px', inline:true, href:"#text_modal"});
  </script>
  <p> 
    <label for="content_content_body">Description</label>
    <textarea cols="40" id="content_body" name="content[content][body]" rows="10"></textarea>
  </p>
  <p> 
    <label for="content_content_reading_language">Reading Language</label>
    <input id="content_content_reading_language" name="content[content][reading_language]" size="30" type="text" />
  </p>
  <p> 
  <label for="content_file">Upload Reading</label>
    <input id="content_file" name="file" size="30" type="file" />
  </p>
  <input id="content_content_file" name="content[content][file]" type="hidden" />

  <p> 
    <input name="commit" type="submit" value="Save" />
  </p>
</form>

<script type="text/javascript">
$(function() {
  $('#content_file').uploadify({
      'uploader'  : '/swf/uploadify.swf',
      'script'    : '/content/upload',
      'cancelImg' : '/images/cancel.png',
      'folder' : '/uploads',
      'onComplete' : function(event, q, file, response, data) {
      $("#content_content_file").val(response);
      $.data($("#new_content").get(0), "file_uploaded", true);
      $(".uploadifyQueueItem .cancel").hide();
      var submitted = $.data($("#new_content").get(0), "submitted");
      if (submitted) {
        $("#new_content").submit();
      }
      return false}, 
      'auto'      : true
    });
});
$("#new_content").submit(function() {
  var value = $.data($("#new_content").get(0), "file_uploaded");
  $.data($("#new_content").get(0), "submitted", true);
  if (!value) {
    return false;
  }
  $(this).ajaxSubmit({'dataType': 'script'});
  return false;
}); 
$(function() {
    $.get('/content/text/new?layout=false', {}, function(data) {
      $("#text_modal").html(data);
    });
});
</script>

<div style="display: none;">
  <div id="text_modal">
    hello
  </div>
</div>
