<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<title>Bliss Theme: Just another WordPress weblog</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themehybrid.com/demo/bliss/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themehybrid.com/demo/bliss/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Bliss Theme' href='http://themehybrid.com/demo/bliss' />
<meta name="generator" content="WordPress 2.8.5" />
<meta name='wordpress_theme' content='Bliss 0.1' />
<link rel='alternate' type='application/rss+xml' title='RSS 2.0' href='http://themehybrid.com/demo/bliss/?feed=rss2' />
<link rel='alternate' type='text/xml' title='RSS .92' href='http://themehybrid.com/demo/bliss/?feed=rss' />
<link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='http://themehybrid.com/demo/bliss/?feed=atom' />

<link rel='pingback' href='http://themehybrid.com/demo/bliss/xmlrpc.php' />
<link rel='stylesheet' id='print_css-css'  href='http://themehybrid.com/demo/bliss/wp-content/themes/bliss/library/css/print.css?ver=0.1' type='text/css' media='print' />

<link rel="stylesheet" href="http://themehybrid.com/demo/bliss/wp-content/themes/bliss/style.css" type="text/css" media="screen" />

</head>

<body>
<div id="body-container">

  <div id='feed'>
      <ul><li class="feed-url"><a href="http://feeds.feedburner.com/themehybrid" title="Subscribe to the feed"><span>Subscribe by RSS</span></a></li></ul>
    </div>

  <div id="header">
    <h1 id="site-title">
      <a href="http://themehybrid.com/demo/bliss" title="Bliss Theme"><span>Bliss Theme</span></a>
    </h1>
    
    <h2 id="site-description">
      Just another WordPress weblog   </h2>
  </div>

  
  <div id="container">
    <div id="home" class="home">
  
  
  <div class="post">

    <h2 class="post-title">
      <a href="http://themehybrid.com/demo/bliss/?p=102" title="This is an example post">This is an example post</a>
    </h2>

    <p class="byline">

      <span class="time">Aug 26th, 2008</span>
      <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock</a></span> 
      <a href="http://themehybrid.com/demo/bliss/?p=102#comments" class="comments-link"  title="Comment on This is an example post">2 Comments</a>          </p>

    <div class="entry">
      <div id="attachment_103" class="wp-caption alignleft" style="width: 310px"><a href="http://themehybrid.com/demo/bliss/?attachment_id=103" rel="attachment wp-att-103"><img src="http://themehybrid.com/demo/bliss/wp-content/uploads/2008/08/earth-300x122.jpg" alt="Planet Earth" title="Planet Earth" width="300" height="122" class="size-medium wp-image-103" /></a><p class="wp-caption-text">Planet Earth</p></div>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>

<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
          </div>

    <div class="post-meta-data">
      <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=5" title="View all posts in General" rel="category">General</a></span>
      <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=example" rel="tag">Example</a>, <a href="http://themehybrid.com/demo/bliss/?tag=example-post" rel="tag">example post</a></span>

    </div>

  </div>

  
  <div class="post">

    <h2 class="post-title">
      <a href="http://themehybrid.com/demo/bliss/?p=95" title="Controlling the elements">Controlling the elements</a>
    </h2>

    <p class="byline">
      <span class="time">Aug 4th, 2008</span>
      <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock</a></span> 
      <a href="http://themehybrid.com/demo/bliss/?p=95#respond" class="comments-link"  title="Comment on Controlling the elements">No Comments</a>          </p>

    <div class="entry">
      <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>

<p>I am <a href="#" title="example"> the a tag</a> example.</p>
<p>I am <abbr title="example"> the abbr tag</abbr> example.</p>
<p>I am <acronym title="example"> the aronym tag</acronym> example.</p>

<p>I am <strong> the strong tag</strong> example.</p>
<p>I am <big> the big tag</big> example.</p>
<p>I am <small> the small tag</small> example.</p>

<p>I am <cite> the cite tag</cite> example.</p>
<p>I am <code> the code tag</code> example.</p>
<p>I am <del> the del tag</del> example.</p>

<p>I am <ins> the ins tag</ins> example.</p>
<p>I am <dfn> the dfn tag</dfn> example.</p>
<p>I am <em> the em tag</em> example.</p>

<p>I am <samp> the samp tag</samp> example.</p>
<p>I am <sub> the sub tag</sub> example.</p>
<p>I am <sup> the sup tag</sup> example.</p>

<address>Address: 999 Somewhere, South Korea</address>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
          </div>

    <div class="post-meta-data">
      <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=5" title="View all posts in General" rel="category">General</a></span>
      <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=elements" rel="tag">Elements</a></span>

    </div>

  </div>

  
  <div class="post">

    <h2 class="post-title">
      <a href="http://themehybrid.com/demo/bliss/?p=1" title="Headers are cool">Headers are cool</a>
    </h2>

    <p class="byline">
      <span class="time">Aug 4th, 2008</span>
      <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock</a></span> 
      <a href="http://themehybrid.com/demo/bliss/?p=1#comments" class="comments-link"  title="Comment on Headers are cool">1 Comment</a>          </p>

    <div class="entry">
      <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>

<h2>H2-level header</h2>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
<h3>H3-level header</h3>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
<h4>H4-level header</h4>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
<h5>H5-level header</h5>
<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
<h6>H6-level header</h6>

<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
          </div>

    <div class="post-meta-data">
      <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a></span>
      <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=example" rel="tag">Example</a></span>
    </div>

  </div>

  
  <div class="post">

    <h2 class="post-title">
      <a href="http://themehybrid.com/demo/bliss/?p=72" title="Example gallery post">Example gallery post</a>
    </h2>

    <p class="byline">

      <span class="time">May 25th, 2008</span>
      <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock</a></span> 
      <a href="http://themehybrid.com/demo/bliss/?p=72#respond" class="comments-link"  title="Comment on Example gallery post">No Comments</a>          </p>

    <div class="entry">
      <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content.</p>

<p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content.</p>
          </div>

    <div class="post-meta-data">
      <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=5" title="View all posts in General" rel="category">General</a></span>
      <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=gallery" rel="tag">Gallery</a></span>
    </div>

  </div>

  
  <div class="post">

    <h2 class="post-title">
      <a href="http://themehybrid.com/demo/bliss/?p=62" title="Super lists">Super lists</a>
    </h2>

    <p class="byline">

      <span class="time">May 24th, 2008</span>
      <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock</a></span> 
      <a href="http://themehybrid.com/demo/bliss/?p=62#comments" class="comments-link"  title="Comment on Super lists">4 Comments</a>         </p>

    <div class="entry">
      <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content.</p>
<ul>
<li>Hello, John.</li>

<li>Yo-man!</li>
<li>What are you doing?
<ul>
<li>List item</li>
<li>List item</li>
<li>List item
<ul>
<li>List item</li>
<li>List item</li>
<li>List item</li>
<li>List item</li>

</ul>
</li>
<li>List item</li>
<li>List item</li>
<li>List item</li>
<li>List item</li>
</ul>
</li>
<li>Yes, it&#8217;s a big list.</li>
<li>Huh?</li>

<li>Another list item</li>
</ul>
<ol>
<li>Item</li>
<li>Item</li>
<li>Item
<ol>
<li>Ordered Item</li>
<li>Ordered Item</li>
<li>Ordered Item
<ol>
<li>Another item</li>

<li>Another item</li>
<li>Another item</li>
<li>Another item</li>
<li>Another item</li>
</ol>
</li>
<li>Ordered Item</li>
<li>Ordered Item</li>
<li>Ordered Item</li>
<li>Ordered Item</li>

</ol>
</li>
<li>More items</li>
<li>And one more&#8230;</li>
</ol>
          </div>

    <div class="post-meta-data">
      <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=8" title="View all posts in Opinion" rel="category">Opinion</a></span>
      <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=elements" rel="tag">Elements</a>, <a href="http://themehybrid.com/demo/bliss/?tag=wordpress" rel="tag">WordPress</a></span>

    </div>

  </div>

  
  <div class="navigation-links section">
    <a href="http://themehybrid.com/demo/bliss/?paged=2" ><span class="next">Next Page &raquo;</span></a> </div>


  
    </div>

    
<div id="widget-insert-container">

  <div id='widget-insert'>

  
  <div class="menu"><h2 class="section-header">Happenin&#8217; Events</h2><div id="calendar_wrap"><table id="wp-calendar" summary="Calendar">
  <caption>October 2009</caption>
  <thead>
  <tr>

    <th abbr="Monday" scope="col" title="Monday">M</th>
    <th abbr="Tuesday" scope="col" title="Tuesday">T</th>
    <th abbr="Wednesday" scope="col" title="Wednesday">W</th>
    <th abbr="Thursday" scope="col" title="Thursday">T</th>
    <th abbr="Friday" scope="col" title="Friday">F</th>
    <th abbr="Saturday" scope="col" title="Saturday">S</th>

    <th abbr="Sunday" scope="col" title="Sunday">S</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <td abbr="August" colspan="3" id="prev"><a href="http://themehybrid.com/demo/bliss/?m=200808" title="View posts for August 2008">&laquo; Aug</a></td>
    <td class="pad">&nbsp;</td>

    <td colspan="3" id="next" class="pad">&nbsp;</td>
  </tr>
  </tfoot>

  <tbody>
  <tr>
    <td colspan="3" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td>

  </tr>
  <tr>
    <td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td>
  </tr>
  <tr>

    <td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td>
  </tr>
  <tr>
    <td>19</td><td>20</td><td>21</td><td>22</td><td id="today">23</td><td>24</td><td>25</td>

  </tr>
  <tr>
    <td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
    <td class="pad" colspan="1">&nbsp;</td>
  </tr>
  </tbody>

  </table></div></div><div class="menu"><h2 class="section-header">Choose your topic</h2>   <ul>
  <li class="cat-item cat-item-5"><a href="http://themehybrid.com/demo/bliss/?cat=5" title="The category description is not prominent by default, however some themes may show it. Actually, that would be themes like this one.

To add category descriptions, you need to go to your WordPress dashboard. Then click Manage &gt; Categories. Click on the category name that you’d like to edit. Then, just enter your description.">General</a>
</li>
  <li class="cat-item cat-item-6"><a href="http://themehybrid.com/demo/bliss/?cat=6" title="The category description is not prominent by default, however some themes may show it. Actually, that would be themes like this one.

To add category descriptions, you need to go to your WordPress dashboard. Then click Manage &gt; Categories. Click on the category name that you’d like to edit. Then, just enter your description.">HUH?</a>
</li>
  <li class="cat-item cat-item-8"><a href="http://themehybrid.com/demo/bliss/?cat=8" title="The category description is not prominent by default, however some themes may show it. Actually, that would be themes like this one.

To add category descriptions, you need to go to your WordPress dashboard. Then click Manage &gt; Categories. Click on the category name that you’d like to edit. Then, just enter your description.">Opinion</a>
</li>
  <li class="cat-item cat-item-9"><a href="http://themehybrid.com/demo/bliss/?cat=9" title="The category description is not prominent by default, however some themes may show it. Actually, that would be themes like this one.

To add category descriptions, you need to go to your WordPress dashboard. Then click Manage &gt; Categories. Click on the category name that you’d like to edit. Then, just enter your description.">Science &amp; Technolgy</a>

</li>
  <li class="cat-item cat-item-1"><a href="http://themehybrid.com/demo/bliss/?cat=1" title="The category description is not prominent by default, however some themes may show it. Actually, that would be themes like this one.

To add category descriptions, you need to go to your WordPress dashboard. Then click Manage &gt; Categories. Click on the category name that you’d like to edit. Then, just enter your description.">Uncategorized</a>
</li>
    </ul>
</div><div class="menu"><h2 class="section-header">Text can be fun too!</h2>      <div class="textwidget"><p>
I like writing these things.  OK.  Not really, but I just want to show you an example of what a text widget looks like when applied to the theme.
</p>
<p>
You can use this for anything.  Sharing recipes, random quotes, or whatever.
</p>
<p>
Maybe even write a short blurb about yourself and add an image.

</p></div>
    </div>
  
  </div>

</div>
  </div>

  <div id="footer-container">

    <div id="footer">

      
      <p>Copyright &#169; 2009 <a href="http://themehybrid.com/demo/bliss" title="Bliss Theme">Bliss Theme</a>. Powered by <a class="wp-icon" href="http://wordpress.org" title="Powered by WordPress, state-of-the-art semantic personal publishing platform"><span>WordPress</span></a>.</p><p class="credit"><a class="credit" href="http://themehybrid.com/themes/bliss" title="Bliss Theme"><span>Bliss Theme</span></a> by <a href="http://justintadlock.com" title="Justin Tadlock"> Justin Tadlock</a></p><!-- Hybrid -->

    </div>

  </div>

</div>
</body>
</html>
